html{
    background-color: #FAFAFA;
}

.card {
    position: relative;
    width: 400px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    /*border-radius: 15px;*/
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    background-position: center;
    background-size: cover;
    /*box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);*/

}

.card > h3 {
    position: absolute;
    bottom: 0px;
    color: white;
}

.card > h4 {
    position: absolute;
    bottom: -16px;
    color: white;
}

.userCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
    top: 20%;
}

/*.box {*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    background: linear-gradient(rgba(250, 0, 0, 0.8), transparent);*/
/*    !*background: linear-gradient(rgba(250, 250, 250, 0.8), transparent);*!*/

/*    background-color: dodgerblue*/
/*}*/

.course {
    /*height:100%;*/
    /*width:100%;*/
    padding: 30px;
    border-radius: 0px 0px 40px 40px;
    font-size: 20px;
    color: aliceblue;
    background-image: linear-gradient(to bottom right, #0a77dd 10%, #a5cbea);
    /*background: linear-gradient(rgba(200, 200,200, 0.5), transparent);*/
    /*background-color: darkslateblue;*/
}

