.swipeButtons {
    position: relative;
    background-position: center;
    display: flex;
    bottom:-620px;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    margin:20px;
    height:115px;
    background-color: white;
    /*background-color: lightseagreen;*/

    /*color: white;*/
    /*box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3) !important;*/
}

.swipeButtons .MuiIconButton-root.swipeButtons__left {
    border:1px solid #F9F9F9;
    background: linear-gradient(#da0d25, #ffd991);
    /*color-adjust: linear-gradient(rgba(100, 0,200, 0.5), transparent);*/
}

.swipeButtons .MuiIconButton-root.swipeButtons__right {
    border:1px solid #F9F9F9;
    background: linear-gradient(rgb(159, 229, 74), #7dced5);

}

.swipeButtons__info {
     left: 85%;
}

